<div class="head-img">
    <nav>
        <h1>Treasury Terrene | <%= tabTitle %></h1>
        <ul class="navul">
            <li><a class="headlink" href="/">Home</a></li>
            <li><a class="headlink" href="/maps">Maps</a></li>
            <li><a class="headlink" href="/monsters">Monsters</a></li>
            <li><a class="headlink" href="/npcs">NPCs</a></li>
            <li><a class="headlink" href="/quests">Quests</a></li>
            <li><a class="headlink" href="/special-items">Special Items</a></li>
            <li><a class="headlink" href="/<%= typeURL %>/new"><%= type %></a></li>
            <li><a class="headlink" href="/<%= typeURL %>/delete">Delete</a></li>
        </ul>
    </nav>
</div>