<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>

<%- include("./partials/styles.ejs") %>

<div class="full-page">
    <header>
        <div class="head-img">
            <nav>
                <h1>Treasury Terrene | <%= tabTitle %></h1>
                <ul class="navul">
                    <li><a class="headlink" href="/">Home</a></li>
                    <li><a class="headlink" href="/maps">Maps</a></li>
                    <li><a class="headlink" href="/monsters">Monsters</a></li>
                    <li><a class="headlink" href="/npcs">NPCs</a></li>
                    <li><a class="headlink" href="/quests">Quests</a></li>
                    <li><a class="headlink" href="/special-items">Special Items</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="home-shell">
        <img src="https://images2.imgbox.com/84/eb/AlrGjLPJ_o.png">
    </div>

</div>
</body>
</html>