<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>

<%- include("./partials/styles.ejs") %>

    <header>
        <div class="headimg">
            <nav>
                <h1>Treasury Terrene | <%= tabTitle %></h1>
                <ul class="navul">
                    <li><a href="/">Home</a></li>
                    <li><a href="/maps">Maps</a></li>
                    <li><a href="/monsters">Monsters</a></li>
                    <li><a href="/npcs">NPCs</a></li>
                    <li><a href="/quests">Quests</a></li>
                    <li><a href="/special-items">Special Items</a></li>
                </ul>
            </nav>
        </div>
    </header>

<div class="full-page"></div>
hello
</div> 

</body>
</html>