<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <%- include("../partials/styles.ejs") %>

        <div class="full-page">
            <header>
                <%- include("../partials/header.ejs") %>
            </header>
            <div class="shell">
                <div class="new-form">
                    <form action="/npcs" method="POST">
                        <label>Image URL: </label><input type="text" name="img" /><br />
                        <label>Name: </label><input type="text" name="name" /><br />
                        <label>Age: </label><input type="number" name="age" /><br />
                        <label>Alignment: </label><input type="text" name="almt" /><br />
                        <label>Gender: </label><input type="text" name="gender" /><br />
                        <label>Race: </label><input type="text" name="race" /><br />                        
                        <label>Languages: </label><input type="text" name="lang" /><br />
                        <label>Personality: </label><textarea name="personality" cols="30" rows="10"></textarea><br />
                        <label>Stats: </label><input type="text" placeholder="STR" name="str" />
                        <input type="text" placeholder="DEX" name="dex" />
                        <input type="text" placeholder="CON" name="con" />
                        <input type="text" placeholder="INT" name="int" />
                        <input type="text" placeholder="WIS" name="wis" />
                        <input type="text" placeholder="CHA" name="cha" /><br />
                        <input type="submit" value="Add NPC"  />
                    </form>
                </div>
            </div>
        </div>

</body>

</html>